<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdU3v1NNrUvTZyZS3-1o8_0eDeQquYs40</string>
	<key>GCM_SENDER_ID</key>
	<string>131845401989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsleedev.webappdemo</string>
	<key>PROJECT_ID</key>
	<string>tsdemohub</string>
	<key>STORAGE_BUCKET</key>
	<string>tsdemohub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131845401989:ios:2c32420e77db347ec8e8ec</string>
</dict>
</plist>